SECRET_KEY=sua-chave-secreta-aqui
DATABASE_URL=postgresql+psycopg://sra_admin:sra2026@localhost:5433/sra_pli
STORAGE_PATH=storage

# Brevo (transactional email)
BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=SRA · PLI-SP

# App
APP_BASE_URL=http://localhost:5000
