Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
SQLAlchemy==2.0.30
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
alembic==1.13.1
python-docx==1.1.2
lxml==5.2.2
docxtpl==0.18.0
mammoth==1.8.0
beautifulsoup4==4.12.3
openpyxl==3.1.5
WeasyPrint==62.3
psycopg[binary]==3.3.4
python-dotenv==1.0.1
Werkzeug==3.0.3
email-validator==2.1.1
